<style>
    @media (max-width:767.99px)
    {
        .teacherContainer{
            width: 100%!important;
        }
    }
    @media (min-width:768.99px)
    {
        .teacherContainer{
            width: 75%!important;
        }
    }

    li{
        list-style: none;
    }
</style>

{% extends "layout.html" %}
{% block content%}


{% with messages = get_flashed_messages(with_categories = true ) %}
        {% if messages %}
        {% for category,message in messages %}
        <div  class=" alert alert-{{category}} mt-5 ">
          <h3 style="padding-top: 5px; text-align: center;">{{message}}</h3>
        </div>
        {% endfor %}
        {% endif %}
  {% endwith %}
<div class="jumbotron" style="margin-top: 50px;  height: 100%;
background-color: white;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
">

    <div class="col">

        <div class="container teacherContainer" style="padding:2rem 3rem ;background-color:white; border-radius:30px; margin-top:20px; margin-bottom: 20px; box-shadow:0px 0px 5px 2px #5a59592e;">
            <h2 class="mb-3"><strong>ADD TEACHER</strong></h2>
            <h5 class="">Enter the unique ID of your teacher to be able to access the quizzes created by them</h5>

            <!-- <hr style="width:100%;text-align:left;margin-left:0"> -->

            <form method="POST">

                <div class="container my-4 mx-0 px-0">
                    <label for="basic-ul">Enter the teacher id </label>
                    <div class="input-group ">
                        
                        <input type="number" required min=1 class="form-control" id="teacher_id" name="teacher_id"
                        aria-describedby="basic-addon3" placeholder="Enter the Id here ">
                    </div>
                </div>
                <div class="row" style="color:blue; padding:0px 20px ;">
                    <button class="btn btn-primary " type="submit">Add Teacher</button>
                </div>
            </form>

        </div>
        
    </div>
</div>

<footer class="page-footer blue text-center " style="padding: 15px;  background-image: url('https://wallpapercave.com/wp/lDHjvPD.jpg');
background-size: cover;">

  <!--Footer Links-->
  <div class="container-fluid" style="padding: 15px;">
    <div class="row">

      <!--First column-->
      <div class="col-md-7 text-light mx-auto my-3">
        <h5 class="title mb-3">E-xam</h5>
        <p class="px-5 mx-5">
          E-xam is created with a motive of providing a unified platform to students and teachers so that the process
          of learning and its quality does not reduces in these tough times.

        </p>
      </div>
      <!--/.First column-->

      <!--Second column-->
      <div class="col text-light my-3">
          <h5 class="title text-light ">Contact Us: 12345667</h5>
          <div class="d-flex justify-content-center">
            <li><a class=" text-light" href="#">Mail:</a></li>
            <p class="mx-1">e-xam.contact@gmail.com</p>
          </div>
          <li><a class=" text-light"
              href="#">LinkedIn</a>
          </li>
      </div>
      <!--/.Second column-->
    </div>
  </div>

</footer>

{% endblock content %}