{% extends "layout.html" %}
{% block content%}
<style>
 

.quizCard{
  box-shadow: 0px 0px 4px 2px #b9b9b94f;
}

.quizCard:hover{
  box-shadow: 0px 0px 5px 3px #b9b9b975;
}

li{
  list-style: none;
}
</style>
<div class="jumbotron" style="margin-top: 50px; background-color:white;">

  <div class="jumbotron" style=" background-color:rgb(0 123 255 / 10%);box-shadow: 0px 0px 4px 2px #d8e3ef;">
    <!--the Pink box with border-->

    <!--<div class="jumbotron" style=" background-color:pink; border-radius:black solid;">-->
    <h2>All Active Quizzes are Listed Below</h2>


  </div>
  <!-- The jumbotron just below this can be used as a container for whole the page and its contents-->
  <!-- ======  Start from here ======  -->

  {% if not(quiz_exists) %}


  <div class="jumbotron" style="background-color: white;  ">
    <div class="d-flex justify-content-center">
      <h1>No Active Quizzes Right Now</h1>
    </div>
    <div class="d-flex justify-content-center">
      <h3>Please refresh if you are expecting a quiz right now...<h3>
    </div>
  </div>
  <hr style="width:100%;text-align:left;margin-left:0; width:10px;">
  {% endif %}


  <div class="container">
    <div class="row">
  {% for quiz in quiz_list %}


  <!-- <div class="jumbotron" style="background-color:rgba(128, 128, 128, 0.096); "> -->

    <!-- <div class="example hoverable"> -->

      
           <div class="col-12 col-sm-5 col-md-4 col-lg-3 ">
             <div class="card p-3 m-3 quizCard" style="width: 100%; height: 9rem;">
              <h6 class="font-weight-bold my-2">Quiz ID : {{quiz.id}}
              </h6>
              <h5> {{quiz.title}}</h5>
              <a type="button" class="btn btn-primary  my-2 w-50 float-right btn-sm" href="{{url_for('student.quiz',quiz_id = quiz.id)}}">
                Attempt
              </a>
             </div>
           </div>

     
    <!-- </div> -->
    <!-- <hr style="width:100%;text-align:left;margin-left:0; width:10px;"> -->
  <!-- </div><==== end here -->
  {% endfor %}
       
</div>
</div>
  </div>

  <footer class="page-footer blue text-center " style="padding: 15px; position: bottom; left: 0; bottom: 0; width: 100%; background-image: url('https://wallpapercave.com/wp/lDHjvPD.jpg');
  background-size: cover;">
      <!--Footer Links-->
  <div class="container-fluid" style="padding: 15px;">
    <div class="row">

      <!--First column-->
      <div class="col-md-7 text-light mx-auto my-3">
        <h5 class="title mb-3">E-xam</h5>
        <p class="px-5 mx-5">
          E-xam is created with a motive of providing a unified platform to students and teachers so that the process
          of learning and its quality does not reduces in these tough times.

        </p>
      </div>
      <!--/.First column-->

      <!--Second column-->
      <div class="col text-light my-3">
          <h5 class="title text-light ">Contact Us: 12345667</h5>
          <div class="d-flex justify-content-center">
            <li><a class=" text-light" href="#">Mail:</a></li>
            <p class="mx-1">e-xam.contact@gmail.com</p>
          </div>
          <li><a class=" text-light"
              href="https://www.linkedin.com/posts/pulkit-vyas_onlineexamination-onlineeducation-edtech-activity-6716777003296555008-MvzC">LinkedIn</a>
          </li>
      </div>
      <!--/.Second column-->
    </div>
  </div>

  </footer>
  






{% endblock content %}