*,
::before,
::after {
  box-sizing: border-box;
}

.mainContent {
  position: relative;
  margin: 0 0 0 0;
  padding: 0 1rem;
  font-size: $normal-font-size;
  @include transition(all, 1s);
}

/*Remove padding from body on isNavExpanded=false*/
.body {
  @include transition(all, 1s);
}

/*Add padding to body on isNavExpanded=true*/
.body-pd {
  padding-left: $nav-width - 16px;
  @include transition(all, 1s);
}

.navbarTop {
  padding: 11px 10px;
  background: $white;
  border-radius: 0;
  box-shadow: 0px 0px 5px 2px #e6e6e6;
  border: 1px solid #d4d4d4;
  margin: 1rem 1rem;
  .navbar-collapse {
    flex-grow: 0;
  }
  .header-mb {
    color: $primary;
    font-size: 1.5rem;
    margin-left: 0.8rem;
  }
  .nav-item {
    a {
      text-decoration: none;
    }
  }
}

.navbarSticky {
  position: sticky !important;
  z-index: 1030;
  top: 10px;
}

.l-navbar {
  position: fixed;
  top: 10px;
  left: -30%;
  width: $nav-width;
  height: 95vh;
  background-color: $primary;
  padding: 0.5rem 0rem 0 0;
  @include transition(all, 1s);
  z-index: $z-fixed;
  border-radius: 1rem;
  margin-left: 5px;
  box-shadow: 0px 0px 15px 0px #a899e4;

  .nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    .nav__logo {
      display: grid;
      grid-template-columns: max-content max-content;
      align-items: center;
      column-gap: 1rem;
      padding: 0.5rem 0 0.5rem 0.5rem;
      text-decoration: none;
      margin-bottom: 2rem;
      margin-left: 0.5rem;
      a {
        &:hover {
          text-decoration: none;
        }
      }
      .nav__logo-icon {
        font-size: 1.25rem;
        color: $white;
      }

      .nav__logo-name {
        color: $white;
        font-weight: 700;
      }

      .header__toggle {
        color: $white;
        font-size: 1.5rem;
        cursor: pointer;
        margin-left: 0.8rem;
      }
    }
    .nav__link {
      @extend .nav__logo;
      position: relative;
      color: gray("300");
      margin-bottom: 1.5rem;
      @include transition(all, 0.5s);
      margin-left: 0.5rem;
      text-decoration: none;
      &:hover {
        color: $white;
        text-decoration: none;
      }
      .nav__icon {
        font-size: 1.25rem;
      }
    }
    .sideActive {
      color: #472cb3;
      background-color: $white;
      border-bottom-left-radius: 1rem;
      border-top-left-radius: 1rem;
      box-shadow: inset -6px 20px 14px -8px rgb(200, 199, 212);
      &:hover {
        @extend .sideActive;
      }
    }
  }
}

.show {
  left: 0;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px) {
  .mainContent {
    margin: 1rem 0rem;
    padding-left: $nav-width + 32px;
  }

  /*Add padding body desktop*/
  .body-pd {
    padding-left: $nav-width + 80px;
    @include transition(all, 1s);
  }

  .l-navbar {
    left: 1%;
    padding: 1rem 0rem 0 0;
  }

  /*Show navbar desktop*/
  .l-navbar.show {
    left: 0;
    width: $nav-width + 156px;
  }
}
