@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

//Override default bootstrap theme colors
$dark: #100231 !default;
$primary: #6200ea !default;
$secondary: #f5f5f5 !default;
$info: #4fc3f7 !default;
$success: #28b463 !default;
$warning: #ff8f00 !default;
$danger: #e42728 !default;
// $link-color :#e42728;

//Override default Font-family
$font-family-sans-serif: "IBM Plex Sans", sans-serif, "Rubik", sans-serif;

//Font-size global variable
$normal-font-size: 1rem;

//z-index variable 
$z-fixed: 100;

//Variables for sidebar component
$header-height: 3rem;
$nav-width: 50px;

//shadow variable for cards
$card-shadow: 1px 4px 8px 3px #adb5bd;
$enable-gradients: true;
