{% extends "layout.html" %}


{% block content%}
{% with messages = get_flashed_messages(with_categories = true ) %}
{% if messages %}
{% for category,message in messages %}
<div class="alert alert-{{category}} mt-5">
    <h4 style="text-align:center;">{{message}}</h4>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<style>
    #footer {
    color: #f1f1f1;
    font-size: 14px;
    background-image: url("https://wallpapercave.com/wp/lDHjvPD.jpg");
    background-size: cover;
  }
      
      #footer .footer-top {
        padding: 60px 0 30px 0;
      }
      
      #footer .footer-top .footer-contact {
        margin-bottom: 30px;
      }
      
      #footer .footer-top .footer-contact h4 {
        font-size: 22px;
        margin: 0 0 30px 0;
        padding: 2px 0 2px 0;
        line-height: 1;
        font-weight: 700;
      }
      
      #footer .footer-top .footer-contact p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 0;
        font-family: "Nunito", sans-serif;
        color: #fff;
      }
      
      #footer .footer-top h4 {
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        position: relative;
        padding-bottom: 12px;
      }
      
      #footer .footer-top .footer-links {
        margin-bottom: 30px;
      }
      
      #footer .footer-top .footer-links ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      
      #footer .footer-top .footer-links ul i {
        padding-right: 2px;
        color: rgb(179, 178, 178);
        font-size: 18px;
        line-height: 1;
      }
      
      #footer .footer-top .footer-links ul li {
        padding: 10px 0;
        display: flex;
        align-items: center;
      }
      
      #footer .footer-top .footer-links ul li:first-child {
        padding-top: 0;
      }
      
      #footer .footer-top .footer-links ul a {
        color: #ffff;
        transition: 0.3s;
        display: inline-block;
        line-height: 1;
      }
      
      #footer .footer-top .footer-links ul a:hover {
        text-decoration: none;
        color: rgb(185, 185, 185);
      }
      
      #footer .footer-newsletter {
        font-size: 15px;
      }
      
      #footer .footer-newsletter h4 {
        font-size: 16px;
        font-weight: bold;
        color: #ffff;
        position: relative;
        padding-bottom: 12px;
      }
      
      #footer .footer-newsletter form {
        margin-top: 30px;
        background: #fff;
        padding: 6px 10px;
        position: relative;
        border-radius: 50px;
        text-align: left;
        border: 1px solid #f7c2cc;
      }
      
      #footer .footer-newsletter form input[type="email"] {
        border: 0;
        padding: 4px 8px;
        width: calc(100% - 100px);
      }
      
      #footer .footer-newsletter form input[type="submit"] {
        position: absolute;
        top: 0;
        right: -2px;
        bottom: 0;
        border: 0;
        background: none;
        font-size: 15px;
        padding: 0 22px;
        background: #e43c5c;
        color: #fff;
        transition: 0.3s;
        border-radius: 50px;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
      }
      
      #footer .footer-newsletter form input[type="submit"]:hover {
        background: #d01d3f;
      }
      
      #footer .social-links a {
        font-size: 18px;
        display: inline-block;
        background: #e43c5c;
        color: #fff;
        line-height: 1;
        padding: 8px 0;
        margin-right: 4px;
        border-radius: 50%;
        text-align: center;
        width: 36px;
        height: 36px;
        transition: 0.3s;
      }
      
      #footer .social-links a:hover {
        background: #d01d3f;
        color: #fff;
        text-decoration: none;
      }
    
      .loginCard{
        margin: 0rem 3rem;
        box-shadow: 0px 0px 2px 3px rgba(211, 210, 210, 0.288);
        border: 1px solid #e8e9e9;
        border-radius: 1rem;
      }

      .loginFormControl{
          border: none!important;
          box-shadow:0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%)
      }

      .loginFormControl:focus,.loginFormControl:hover
      {
          border: none!important;
          box-shadow:0 1px 4px rgb(50 50 93 / 25%), 0 2px 0 rgb(0 0 0 / 5%)
      }
      .loginFormGroup{
          font-size: 1rem;
      }

      .loginImage{
        width: 25rem;
        height: 25rem;
      }
      .loginContainer{
        margin: 6rem 2rem 2rem 2rem;
      }

      .login{
        width: 30rem;
        border: none;
        padding: 2rem;
        background-color: rgb(194 183 255 / 35%);
      }

      @media (max-width:767.99px) {
        .login{
        width: 20rem;
      }
      }


</style>
<div>

    <div class="container loginContainer">
         <div class="row justify-content-center">
           <div class="loginCard d-lg-flex  ">
            <div class="card mx-auto my-2 my-lg-0 login col-lg-6 m-0 order-xs-last order-lg-first">
              <!-- <div class="card " > -->
                <div class="content-section ">
                    <form method="POST" , action="">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <legend class="mb-4">Log In</legend>
    
                            <div class="form-group loginFormGroup text-muted">
                                {{ form.email.label(class="form-control-label") }}
    
                                {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.email(class="form-control loginFormControl form-control-lg") }}
                                {% endif %}
                            </div>
    
                            <div class="form-group loginFormGroup text-muted">
                                {{ form.password.label(class="form-control-label") }}
                                {% if form.password.errors %}
                                {{ form.password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.password(class="form-control loginFormControl form-control-lg") }}
                                {% endif %}
                            </div>
                        </fieldset>
                        <div class="row ">
                          <div class="col-lg-6 justify-content-start">
                            {{ form.submit(class="btn btn-primary")}}
                          </div>
                        
                        <div class="col-lg-6 mt-2">
                            <h6 class="text-muted float-lg-right">
                                <a class="text-muted" href="{{ url_for('auth.request_reset')}}">Forgot Password?</a>
                            </h6>
                        </div>
                      </div>
                    </form>
                    <div class="pt-3">
                        <h6 class="text-muted">
                            Don't have an account yet? <a class="ml-2" href="{{ url_for('auth.register')}}">Sign Up</a>
                        </h6>
                    </div>
                </div>
            </div>
            <!-- </div> -->
            <div class="col-lg-6 order-xs-first order-lg-last">
              <img class="loginImage" src="https://image.freepik.com/free-vector/sign-page-abstract-concept-illustration-enter-application-mobile-screen-user-login-form-website-page-interface-ui-new-profile-registration-email-account_335657-936.jpg" alt="">
            </div>
     
           </div>
            
         </div>
     
    </div>
</div>

<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>E-xam</h3>
            <p>
              SSVPS B.S. Deore College of Engineering <br>
              Dhule - 424001<br>
              Maharashtra, India<br><br>
              
              <strong>Email:</strong> e-xam@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <!--
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
              -->
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Online examination</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">AI proctoring</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Analystics on class and individual performance</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Quiz templates and Plagiarism detector services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Ungraded question banks and AI generated exercises</a></li>
            </ul>
          </div>
          
           <div class="col-lg-4 col-md-6">
            <h2>E-xam</h2>
            <h4><p>
                E-xam is created with a motive of providing a unified platform to students and teachers so that the process of learning and its quality does not reduces in these tough times.
              </p>
            </h4>
            </p>
          </div>

        </div>
      </div>
    </div>

   </footer>
</div>

</div>
</div>
{% endblock content %}